.*.*.*~
.*.*.swp
.DS_Store
docs/shim/.dongfix.js.un~ docs/shim/.dongs_message_fix.js.un~ docs/shim/.ghetto_link_fix_2021.js.un~ docs/shim/.message_fix.js.un~ docs/shim/.sc_api.js.un~ extension/firefox/.Rakefile.un~ extension/shim_src/.kageshit-personal.css.un~
./*/*/.*.un~
